


[MGW Settings]

#business_hour_start            : Business hour start
#business_hour_end              : Business hour end
#Value Format                   : 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24

retail_partner_code=DGPOSABCD
terminal_number=0000
business_date_format=MMddyyyy
business_hour_start=20:01
business_hour_end=00:00
retail_partnercode_length=4
