#####################################
#DevGeek Point Of Sales Configuration
#Date Creation: Feb 18, 2023
#####################################

[ctl]
#disable_zread_date_overlapping             : To allow transactions even if zread date is not the same date as today or tommorrow
#enable_megaworld_functionality_on_zread    : If zread button is clicked, it will generate files from megaworld dynamic link library

disable_zread_date_overlapping=Y
enable_megaworld_functionality_on_zread=Y

