


[SIA Settings]

#terminal_id                : Terminal ID
#serial_number              : Serial Number
#file_path                  : On where to export csv file
#sales_type                 : Assigned to by tenan

terminal_id=1
serial_number=2
file_path=C:\Users\jjrey\Desktop\SIA
sales_type=3
daily_transaction_file_name=
daily_transaction_details_file_name=

